{% for item in menu_items %}
<ul class="menu">

    <li>
        <a href="{% if item.url %}?parent_get={{item.url}}{% endif %}" {% if request.GET.parent_get == item.url %}class="active"{% endif %}>
            {{ item.title }}
        </a>
        {% if item.children.all %}

        {% for child in item.children.all %}
        <ul {% if request.GET.parent_get == item.url %} style="display:block"{% else %} style="display:none"{% endif %}>
            <li>
                <a href="{% if item.url %}?parent_get={{item.url}}{% endif %}{% if child.url %}&child_get={{child.url}}{% endif %}" {% if request.GET.child_get == child.url %}class="active"{% endif %}>
                    {{ child.title }}
                </a>
                {% if child.children.all %}
                <ul {% if request.GET.child_get == child.url %} style="display:block"{% else %} style="display:none"{% endif %}>
                {% include 'subchild.html' with children=child.children.all %}
                </ul>
                {% endif %}
            </li>
        </ul>
        {% endfor %}

        {% endif %}
    </li>

</ul>
{% endfor %}